
Aplicacion/asistente_virtual/linux/flutter/generated_plugin_registrant.cc
Aplicacion/asistente_virtual/linux/flutter/generated_plugin_registrant.h
Aplicacion/asistente_virtual/linux/flutter/generated_plugins.cmake
Aplicacion/asistente_virtual/macos/Flutter/GeneratedPluginRegistrant.swift
Aplicacion/asistente_virtual/windows/flutter/generated_plugin_registrant.cc
Aplicacion/asistente_virtual/windows/flutter/generated_plugin_registrant.h
Aplicacion/asistente_virtual/windows/flutter/generated_plugins.cmake
